* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  list-style: none; }

.contenedor_index {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav nav" "head head head" "equipo equipo espec" "footer footer footer"; }

.contenedor_nosotros {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav nav" "head head head" "nos nos nos" "mvv mvv mvv" "footer footer footer"; }

.contenedor_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav nav" "head head head" "main main main" "footer footer footer"; }

.contenedor_contacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav nav" "head head head" "ubic ubic cont" "footer footer footer"; }

nav {
  grid-area: nav;
  background-color: #212121;
  height: 140px;
  width: 100%; }
  nav .enlace {
    position: absolute;
    padding: 20px 15px; }
    nav .enlace .logo {
      height: 100px; }
  nav ul {
    float: right;
    margin-right: 100px; }
    nav ul li {
      display: inline-block;
      line-height: 135px;
      margin: 0 5px; }
      nav ul li a {
        color: white;
        font-size: 30px;
        padding: 20px 13px; }
        nav ul li a:hover {
          font-weight: 500;
          transition: .5s; }
  nav .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 120px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }

header {
  grid-area: head;
  background-color: white; }
  header img {
    width: 100%; }
  header .opciones {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -50px; }
    header .opciones li {
      background-color: #212121;
      text-align: center;
      width: 400px;
      display: inline-block;
      padding: 1.5%; }
      header .opciones li a {
        font-size: 30px;
        color: white; }
        header .opciones li a:hover {
          font-weight: 500; }
  header h1 {
    font-size: 65px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-align: center; }
    header h1 span {
      color: #EAACA4; }
  header p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    width: 85%;
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: justify; }

.equipo-psic {
  grid-area: equipo;
  margin-left: 11%; }
  .equipo-psic h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0; }
  .equipo-psic img {
    width: 315px;
    opacity: 95%;
    padding-top: 25px;
    padding: 5px 5px; }
    .equipo-psic img:hover {
      opacity: 100%; }

.especialidades {
  grid-area: espec;
  background-color: white;
  margin: auto 0; }
  .especialidades h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0; }
  .especialidades li {
    font-size: 24px;
    margin: 5px 20px;
    width: 65%;
    color: #212121;
    padding: 15px;
    border-bottom: 2.2px solid #EAACA4; }

.nosotros {
  grid-area: nos;
  width: 100%; }
  .nosotros h1 {
    font-size: 65px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-align: center; }
    .nosotros h1 span {
      color: #EAACA4; }
  .nosotros p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    width: 85%;
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: justify; }

.mviva {
  grid-area: mvv;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
  grid-column: span 3;
  text-align: justify; }
  .mviva h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    margin: 10px 0; }
  .mviva img {
    width: 100%; }
  .mviva .mision, .mviva .vision, .mviva .valores {
    padding: 20px 20px;
    width: 450px; }

.servicios {
  grid-area: main;
  margin: 10px 85px;
  margin-bottom: 35px; }
  .servicios .especialidades h2 {
    font-size: 45px;
    text-align: center;
    padding: 10px;
    margin-top: 15px; }
  .servicios .especialidades p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    padding: 20px 10px;
    text-align: justify; }
  .servicios .especialidades table {
    width: 100%;
    margin: 20px 0; }
    .servicios .especialidades table td {
      padding: 10px;
      background-color: #EAACA4;
      opacity: 65%;
      font-size: 28px;
      text-align: center;
      color: #212121;
      border-radius: .3rem; }
      .servicios .especialidades table td:hover {
        opacity: 100%; }

.doctoralia {
  grid-area: main;
  margin: 20px auto; }

.contenedor_contacto {
  margin: auto 0; }
  .contenedor_contacto .mapa {
    grid-area: ubic;
    display: flex;
    justify-content: center; }
  .contenedor_contacto .ubicacion h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px; }
  .contenedor_contacto .ubicacion li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    display: inline;
    text-align: left;
    background-color: white;
    width: 90%;
    text-align: left; }
    .contenedor_contacto .ubicacion li span {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.7em;
      margin: 0; }
  .contenedor_contacto .ubicacion iframe {
    width: 100%;
    margin-top: 25px; }
  .contenedor_contacto .contacto {
    grid-area: cont; }
    .contenedor_contacto .contacto .formulario {
      background-color: #EAACA4;
      padding: 25px;
      width: 90%; }
      .contenedor_contacto .contacto .formulario h2 {
        font-size: 45px;
        padding-bottom: 15px; }
      .contenedor_contacto .contacto .formulario input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 15px; }
      .contenedor_contacto .contacto .formulario .controlFormulario {
        height: 35px;
        background-color: white;
        padding-left: 10px;
        border: 2px groove #EAACA4;
        opacity: 65%; }
      .contenedor_contacto .contacto .formulario .mensaje {
        display: block;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        padding: 10px;
        resize: none;
        background-color: white;
        border: 2px groove #EAACA4;
        opacity: 65%; }
      .contenedor_contacto .contacto .formulario .controlBoton {
        width: 295px;
        padding: 10px;
        background-color: white;
        border: 2px groove #EAACA4;
        opacity: 65%;
        display: inline-block; }

.foot {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  background-color: #212121;
  height: 110px;
  width: 100%; }
  .foot .enlace-foot {
    padding: 15px 15px; }
    .foot .enlace-foot .logo-foot {
      display: inline-block;
      height: 80px; }
  .foot .copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    align-self: center;
    text-align: center;
    color: white; }
  .foot ul {
    margin-right: 15px; }
    .foot ul li {
      display: inline-block;
      line-height: 100px; }
      .foot ul li a {
        font-size: 40px;
        color: white;
        padding: 7px 25px; }
